@{
  Script.Require("ShapesBase");
}


@Html.Partial("Header")


<div id="main" class="generic-page">

  <section id="" class="">

    @Display(Model.Content)

  </section>

</div>


@Html.Partial("Footer")
