

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// NEAT OVERRIDES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

// COLUMN WIDTH
$column: ceil(golden-ratio(1em, 3)) !default;

// GUTTER BETWEEN EACH TWO COLUMNS
$gutter: floor(golden-ratio(1em, 1)) !default;

// TOTAL NUMBER OF COLUMNS IN THE GRID
$grid-columns: 12 !default;

// MAX-WIDTH OF THE OUTER CONTAINER
$max-width: 1280px !default;

$default-feature: max-width !default;


$visual-grid: true !default;
$visual-grid-color: red !default;
$visual-grid-index: back !default;
$visual-grid-opacity: 0.4 !default;
$visual-grid-breakpoints: () !default;



// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// BREAKPOINTS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

// WIDTHS
$boot-width:  em( 1170 );
$pint-width:  em( 980 );
$rocks-width: em( 768 );
$shot-width:  em( 480 );


// HELPERS FOR THE NEW-BREAKPOINT FUNCTIONS
@import "neat-helpers";


$boot:  new-breakpoint( max-width $boot-width 12 );
$pint:  new-breakpoint( max-width $pint-width 8 );
$rocks: new-breakpoint( max-width $rocks-width 4 );
$shot:  new-breakpoint( max-width $shot-width 1 );

$boot-up: new-breakpoint( min-width $boot-width 12 );
$pint-up: new-breakpoint( min-width $pint-width 8 );
$rocks-up: new-breakpoint( min-width $rocks-width 4 );
$shot-up: new-breakpoint( min-width $shot-width 1 );


//  CUSTOM MEDIA QUERIE SHORTHAND
@mixin custom-break( $point ){
  @media only screen and ( max-width: ( $point + px )) { @content; }
}